<!-- Menubar with buttons and dropdowns -->
<div class = "menubar">
	<div class = "row">
		<!-- Select Term Dropdown -->
		<div class = "col-sm-2">
			<div class="dropdown">
				<label>Term :</label>
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Term
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">HTML</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">JavaScript</a></li>
				</ul>
			</div>
		</div>



		<!-- Select Class dropdown -->
		<div class = "col-sm-2">
			<div class="dropdown">
				<label>Class :</label>
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Class
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">HTML</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">JavaScript</a></li>
				</ul>
			</div>
		</div>

		<!-- Summary of  Class meeting time -->
		<div class = "col-sm-2 pull-right">
			<h5>
				<span class="label label-default">Class Time:</span>
			</h5>
		</div>
	</div>

	<!-- Seperator -->
	<hr>

	<div class = "row">
		<!-- Add Date Button -->
		<div class = "col-sm-1">
			<button class = "btn btn-default btn-new" data-toggle="modal" data-target="#AddDate">
				<span class = "glyphicon glyphicon-plus-sign"></span>
				Add Date
			</button>
		</div>
		<!-- Edit Date Button -->
		<div class = "col-sm-2 width-override">
			<button class = "btn btn-default btn-new" data-toggle="modal" data-target="#EditDate">
				<span class = "glyphicon glyphicon-calendar"></span>
				Edit Date
			</button>
		</div>
		<!-- Edit Attendance Button -->
		<div class = "col-sm-1">
			<button class = "btn btn-default btn-new" data-toggle="modal" data-target="#EditAttendance">
				<span class = "glyphicon glyphicon-pencil"></span>
				Edit Attendance
			</button>
		</div>
		
		<!-- Print Button -->
		<div class = "col-sm-1 pull-right">
			<button class = "btn btn-default btn-new">
				<span class = "glyphicon glyphicon-print"></span>
				Print
			</button>
		</div>
	</div>				
</div>

<!-- Scrollable div for table -->
<div class = "pre-scrollable">
	<table class = "table table-bordered table-striped table-hover"
				 id = "attendance">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Student ID</th>
				<th>Day1</th>
				<th>Day2</th>
				<th>Day3</th>
				<th>Day4</th>
				<th>Day5</th>
				<th>Day6</th>
				<th>Day7</th>				
			</tr>
		</thead>
		<script type = "text/javascript" src = "../static/js/attendance.js"></script>
		<tbody>
			<tr>
				<td>User1</td>
				<td>User1</td>
				<td>User1</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>
				<td>-</td>				
			</tr>			
		</tbody>
	</table>
</div>

<!-- Edit Attendance Modal -->
<!-- Credits at w3schools -->
<div class="modal" id="EditAttendance" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style = "background-color: ghostwhite;">
				<h4 class="modal-title">Edit Attendance</h4>
			</div>
			<div class="modal-body">
				<form class = "form-horizontal">
					<div class = "form-group">
						<label class="control-label col-sm-3" for="fn">
							First Name:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "fn" placeholder="Enter first name of student" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="ln">
							Last Name:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "ln" placeholder="Enter last name of student" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="sid">
							Student ID:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "sid" placeholder="Enter student ID number" required>
						</div>
					</div>
					
					<div class = "form-group">
						<label class="control-label col-sm-3" for="date">
							Date:
						</label>
						<div class = "col-sm-8">
							<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Date
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#">HTML</a></li>
								<li><a href="#">CSS</a></li>
								<li><a href="#">JavaScript</a></li>
							</ul>
							</div>
						</div>
					</div>
					
					<div class = "form-group">
						<label class="control-label col-sm-3" for="date">
							Attendance:
						</label>
						<div class = "col-sm-8">
							<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Attendance
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#">O</a></li>
								<li><a href="#">X</a></li>
								<li><a href="#">L</a></li>
							</ul>
							</div>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-new" data-dismiss="modal">
				<span class = "glyphicon glyphicon-remove"> </span>Cancel
				</button>
				<button type="button" class="btn btn-default btn-new">
				<span class = "glyphicon glyphicon-ok"> </span>Done
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Add Date Modal -->
<!-- Credits at w3schools -->
<div class="modal" id="AddDate" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style = "background-color: ghostwhite;">
				<h4 class="modal-title">Add Date</h4>
			</div>
			<div class = "modal-body">
				<form class="form-horizontal">
					
					<div class = "form-group">
						<label class="control-label col-sm-3" for="date">
							Date:
						</label>
						<div class = "col-sm-8">
							<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Date
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#">HTML</a></li>
								<li><a href="#">CSS</a></li>
								<li><a href="#">JavaScript</a></li>
							</ul>
							</div>
						</div>
					</div>
					
					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-new" data-dismiss="modal">
				<span class = "glyphicon glyphicon-remove"> </span>Cancel
				</button>
				<button type="button" class="btn btn-default btn-new">
				<span class = "glyphicon glyphicon-ok"> </span>Done
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Edit Date Modal -->
<!-- Credits at w3schools -->
<div class="modal" id="EditDate" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			
			<div class="modal-header" style = "background-color: ghostwhite;">
				<h4 class="modal-title">Edit Date</h4>
			</div>
			<div class = "modal-body">
				<form class="form-horizontal">
					
					<div class = "form-group">
						<label class="control-label col-sm-3" for="date">
							Date:
						</label>
						<div class = "col-sm-8">
							<input type = "date" required id = "date">
						</div>
					</div>
					
					
					<div class = "form-group">
						<label class="control-label col-sm-3" for="mark">
							Mark as:
						</label>
						<div class = "col-sm-8">
							<div class="dropdown">
							<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Type
							<span class="caret"></span></button>
							<ul class="dropdown-menu">
								<li><a href="#">Regular Class</a></li>
								<li><a href="#">No Class</a></li>
							</ul>
							</div>
						</div>
					</div>
					
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
				<span class = "glyphicon glyphicon-remove"> </span>Delete Date
				</button>
				<button type="button" class="btn btn-default btn-new" data-dismiss="modal">
				<span class = "glyphicon glyphicon-remove"> </span>Cancel
				</button>
				<button type="button" class="btn btn-default btn-new">
				<span class = "glyphicon glyphicon-ok"> </span>Done
				</button>
			</div>
		</div>
	</div>
</div>