<!-- 
 Home page, this page manages all the tabs and behaves as a single
 interface, assuming that the user has already logged in, and a 
 session has been saved. 

 Some forms will be rendered via python

 @version : 1.0.0 
 @author 	: nuwanwre via Bluesmoke labs. C412
-->

<!DOCTYPE html>
<html lang="en">

<head>
	<!-- TODO : Add meta tags -->
	<meta charset="UTF-8">

	<meta name="viewport" content="width=device-width, initial-scale=1.0">


	<title>BlueSmoke - {{ title }}</title>

	<!-- Favicon -->
	<link rel="shortcut icon" href="/favicon.ico">

	<!-- Fonts from Google fonts CDN -->
	<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">

	<!-- Styling from Bootstrap, additional sytles will overrided 
		by local style sheets -->
	<!-- Avoid using http:// so that Heroku can load via https://-->
	<link href="../static/css/bootstrap.min.css" rel="stylesheet">
	<link href="../static/css/home.css" rel="stylesheet">

	<!-- JS scripts -->
	<script src="../static/js/jquery-3.2.1.min.js"></script>
	<script src="../static/js/bootstrap.min.js"></script>

</head>

<body>

	<!-- All elements in the are inlcuded in the container -->
	<div class="container">

		<!-- The top bar with user logged in -->
		<div class="topbar">
			Demo |
		</div>

		<!-- Navigation tabs -->
		<ul class="nav nav-tabs" id="tabs">
			<li class="active"><a href="#">Roster</a></li>
			<li><a href="#">Attendance</a></li>
			<li><a href="#">Statistics</a></li>
			<li><a href="#">Profile</a></li>
		</ul>
		<script type="text/javascript" src="../static/js/base.js"></script>


		<!-- Dynamic Content Goes Here -->

	</div>
</body>

</html>
