@font-face {
  font-family: 'Roboto Slab';
  font-style: normal;
  font-weight: 400;
  src: local('Roboto Slab Regular'), local('RobotoSlab-Regular'), url(https://fonts.gstatic.com/s/robotoslab/v6/y7lebkjgREBJK96VQi37ZjTOQ_MqJVwkKsUn0wKzc2I.woff2) format('woff2');
  unicode-range: U+0460-052F, U+20B4, U+2DE0-2DFF, U+A640-A69F;
}

body {
	font-family: 'Roboto Slab', serif;
	background-color: cadetblue;
}

.panel {
	margin : 300px auto;
	width : 40%;
}

.panel-heading{
	font-size: 20px;
}

.btn{
	margin-top: 10px;
}