<!-- Home page, this page manaes all the tabs and behaves as a single
 interface, assuming that the user has already logged in, and a 
 session has been saved 

 @version : 1.0.0 
 @author 	: nuwanwre
-->

<!DOCTYPE html>
<html lang = "en">
	<head>
		<!-- TODO : Add meta tags -->
		
		<title>BlueSmoke - Home</title>
		
		<!-- Favicon -->
		<link rel = "shortcut icon" href = "/favicon.ico">
		
		<!-- Fonts from Google fonts CDN -->
		<link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
		
		<!-- Styling from Bootstrap, additional sytles will overrided 
		by local style sheets -->
		<!-- Avoid using http:// so that Heroku can load via https://-->
		<link href="//getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">
		<link href="../static/home.css" rel="stylesheet">
	</head>
	
</html>