<!-- Menubar with buttons and dropdowns -->
<div class = "menubar">
	<div class = "row">
		
		<!-- Select Term Dropdown -->
		<div class = "col-sm-2">
			<div class="dropdown">
				<label>Term :</label>
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Term
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">-</a></li>
				</ul>
			</div>
		</div>


		<!-- Select Class dropdown -->
		<div class = "col-sm-2">
			<div class="dropdown">
				<label>Class :</label>
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Class
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">-</a></li>					
				</ul>
			</div>
		</div>

		<!-- Summary of  Class meeting time -->
		<div class = "col-sm-2 pull-right">
			<h5>
				<span class="label label-default">Class Time:</span>
			</h5>
		</div>
	</div>

	<!-- Seperator -->
	<hr>

	<div class = "row">
		<!-- Add Class Button -->
		<div class = "col-sm-1">
			<button type="button" class = "btn btn-default btn-new" data-toggle="modal" data-target="#AddClass">
				<span class = "glyphicon glyphicon-plus-sign"></span>
				Add Class
			</button>
		</div>
		<!-- Edit Class Button -->
		<div class = "col-sm-1">
			<button class = "btn btn-default btn-new" data-toggle="modal" data-target="#EditClass">
				<span class = "glyphicon glyphicon-pencil"></span>
				Edit Class
			</button>
		</div>
		<!-- Add Student Button -->
		<div class = "col-sm-1 width-override">
			<button class = "btn btn-default btn-new" data-toggle="modal" data-target="#AddStudent">
				<span class = "glyphicon glyphicon-user"></span>
				Add Student
			</button>
		</div>
		<!-- Edit Student Button -->
		<div class = "col-sm-1 width-override">
			<button class = "btn btn-default btn-new" data-toggle="modal" data-target="#EditStudent">
				<span class = "glyphicon glyphicon-list-alt"></span>
				Edit Student
			</button>
		</div>
		
		<!-- Print Button -->
		<div class = "col-sm-1 pull-right">
			<button class = "btn btn-default btn-new">
				<span class = "glyphicon glyphicon-print"></span>
				Print
			</button>
		</div>
	</div>				
</div>

<!-- Scrollable div for table -->
<div class = "pre-scrollable">
	<table class = "table table-bordered table-striped table-hover"
				 id = "roster">
		<thead>
			<tr>
				<th>First Name</th>
				<th>Last Name</th>
				<th>Student ID</th>
				<th>Fingerprint ID</th>
			</tr>
		</thead>
		<script type = "text/javascript" src = "../static/js/roster.js"></script>
		<tbody>
			
			<tr>
				<td>User1</td>
				<td>User1</td>
				<td>User1</td>
				<td>User1</td>
			</tr>
		</tbody>
	</table>
</div>

<!-- Add Class Modal -->
<!-- Credits at w3schools -->
<div class="modal" id="AddClass" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style = "background-color: ghostwhite;">
				<h4 class="modal-title">Add Class</h4>
			</div>
			<div class="modal-body">
				<form class = "form-horizontal">
					<div class = "form-group">
						<label class="control-label col-sm-3" for="ClassID">
							Class ID:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "ClassID" placeholder="Enter an unique class code. eg: CSE300" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="ClassTitle">
							Class Title:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "ClassTitle" placeholder="Enter class title" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="TA">
							TAs:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "TA" placeholder="Enter teaching assistants" required>
						</div>
					</div>
					<hr>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="StartDate">
							Start Date:
						</label>
						<div class = "col-sm-8">
							<input type = "date" class = "form-control"  id = "StartDate" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="EndDate">
							End Date:
						</label>
						<div class = "col-sm-8">
							<input type = "date" class = "form-control"  id = "EndDate" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="StartDate">
							Lecture Days:
						</label>
					</div>
					
					<!-- Lecture Days -->
						<div class = "row" style="margin-left: 15px; margin-bottom: 15px;">
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Mon
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Tue
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Wed
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Thu
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Fri
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Sat
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Sun
									</label>
								</div>
							</div>
						</div>
						
						<hr>
						<div class = "form-group">
							<div class = "row" style = "margin-left:5px;">
								<label class="control-label col-sm-2" for="StartTime">
									From:
								</label>
								<div class = "col-sm-4">
									<input type = "time" class = "form-control"  id = "StartTime" required>
								</div>
								<label class="control-label col-sm-1" for="EndTime">
									To:
								</label>
								<div class = "col-sm-4">
									<input type = "time" class = "form-control"  id = "EndTime" required>
								</div>
							</div>
						</div>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-default btn-new" data-dismiss="modal">
				<span class = "glyphicon glyphicon-remove"> </span>Cancel
				</button>
				<button type="button" class="btn btn-default btn-new">
				<span class = "glyphicon glyphicon-ok"> </span>Done
				</button>
			</div>
		</div>
	</div>
</div>


<!-- Edit Class Modal -->
<!-- Credits at w3schools -->
<div class="modal" id="EditClass" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style = "background-color: ghostwhite;">
				<h4 class="modal-title">Edit Class</h4>
			</div>
			<div class="modal-body">
				<form class = "form-horizontal">
					<div class = "form-group">
						<label class="control-label col-sm-3" for="ClassID">
							Class ID:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "ClassID" placeholder="Enter an unique class code. eg: CSE300" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="ClassTitle">
							Class Title:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "ClassTitle" placeholder="Enter class title" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="TA">
							TAs:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "TA" placeholder="Enter teaching assistants" required>
						</div>
					</div>
					<hr>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="StartDate">
							Start Date:
						</label>
						<div class = "col-sm-8">
							<input type = "date" class = "form-control"  id = "StartDate" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="EndDate">
							End Date:
						</label>
						<div class = "col-sm-8">
							<input type = "date" class = "form-control"  id = "EndDate" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="StartDate">
							Lecture Days:
						</label>
					</div>
					
					<!-- Lecture Days -->
						<div class = "row" style="margin-left: 15px; margin-bottom: 15px;">
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Mon
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Tue
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Wed
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Thu
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Fri
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Sat
									</label>
								</div>
							</div>
							<div class = "col-xs-1" style = "width:Inherit;">
								<div class = "checkbox">
									<label>
										<input type="checkbox" value = "">Sun
									</label>
								</div>
							</div>
						</div>
						
						<hr>
						<div class = "form-group">
							<div class = "row" style = "margin-left:5px;">
								<label class="control-label col-sm-2" for="StartTime">
									From:
								</label>
								<div class = "col-sm-4">
									<input type = "time" class = "form-control"  id = "StartTime" required>
								</div>
								<label class="control-label col-sm-1" for="EndTime">
									To:
								</label>
								<div class = "col-sm-4">
									<input type = "time" class = "form-control"  id = "EndTime" required>
								</div>
							</div>
						</div>
					</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
				<span class = "glyphicon glyphicon-trash"> </span>Delete Class
				</button>
				<button type="button" class="btn btn-default btn-new" data-dismiss="modal">
				<span class = "glyphicon glyphicon-remove"> </span>Cancel
				</button>
				<button type="button" class="btn btn-default btn-new">
				<span class = "glyphicon glyphicon-ok"> </span>Done
				</button>
			</div>
		</div>
	</div>
</div>

<!-- Add Student Modal -->
<!-- Credits at w3schools -->
<div class="modal" id="AddStudent" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style = "background-color: ghostwhite;">
				<h4 class="modal-title">Add Student</h4>
			</div>
			<div class="modal-body">
				<form class = "form-horizontal" action="/addNewStudent" method="POST">
					<div class = "form-group">
						<label class="control-label col-sm-3" for="fn">
							First Name:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  name = "fn" placeholder="Enter first name of student" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="ln">
							Last Name:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  name = "ln" placeholder="Enter last name of student" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="sid">
							Student ID:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  name = "sid" placeholder="Enter student ID number" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="fid">
							Fingerprint ID:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  name = "fid" placeholder="Enter fingerprint ID number" required>
						</div>
					</div>
					<div class="modal-footer">
						<div class = "form-group">
							<button type="button" class="btn btn-default btn-new" data-dismiss="modal">
							<span class = "glyphicon glyphicon-remove"> </span>Cancel
							</button>
							<button type="submit" class="btn btn-default btn-new">
							<span class = "glyphicon glyphicon-ok"> </span>Done
							</button>
						</div>
					</div>
				</form>
			</div> <!-- Modal Body ends here -->				
		</div>
	</div>
</div>

<!-- Edit Student Modal -->
<!-- Credits at w3schools -->
<div class="modal" id="EditStudent" role="dialog">
	<div class="modal-dialog">

		<!-- Modal content-->
		<div class="modal-content">
			<div class="modal-header" style = "background-color: ghostwhite;">
				<h4 class="modal-title">Edit Student</h4>
			</div>
			<div class="modal-body">
				<form class = "form-horizontal">
					<div class = "form-group">
						<label class="control-label col-sm-3" for="fn">
							First Name:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "fn" placeholder="Enter first name of student" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="ln">
							Last Name:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "ln" placeholder="Enter last name of student" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="sid">
							Student ID:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "sid" placeholder="Enter student ID number" required>
						</div>
					</div>
					<div class = "form-group">
						<label class="control-label col-sm-3" for="fid">
							Fingerprint ID:
						</label>
						<div class = "col-sm-8">
							<input type = "text" class = "form-control"  id = "fid" placeholder="Enter fingerprint ID number" required>
						</div>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-danger pull-left" data-dismiss="modal">
				<span class = "glyphicon glyphicon-trash"> </span>Delete Student
				</button>
				<button type="button" class="btn btn-default btn-new" data-dismiss="modal">
				<span class = "glyphicon glyphicon-remove"> </span>Cancel
				</button>
				<button type="button" class="btn btn-default btn-new">
				<span class = "glyphicon glyphicon-ok"> </span>Done
				</button>
			</div>
		</div>
	</div>
</div>