<!-- Menubar with buttons and dropdowns -->
<div class = "menubar">
	<div class = "row">
		<!-- Select Term Dropdown -->
		<div class = "col-sm-2">
			<div class="dropdown">
				<label>Term :</label>
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Term
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">HTML</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">JavaScript</a></li>
				</ul>
			</div>
		</div>



		<!-- Select Class dropdown -->
		<div class = "col-sm-2">
			<div class="dropdown">
				<label>Class :</label>
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Class
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">HTML</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">JavaScript</a></li>
				</ul>
			</div>
		</div>
		
		<!-- Select Class dropdown -->
		<div class = "col-sm-2">
			<div class="dropdown">
				<label>Query :</label>
				<button class="btn btn-primary dropdown-toggle" type="button" data-toggle="dropdown">Select Query
				<span class="caret"></span></button>
				<ul class="dropdown-menu">
					<li><a href="#">HTML</a></li>
					<li><a href="#">CSS</a></li>
					<li><a href="#">JavaScript</a></li>
				</ul>
			</div>
		</div>

		<!-- Summary of  Class meeting time -->
		<div class = "col-sm-2 pull-right">
			<h5>
				<span class="label label-default">Class Time:</span>
			</h5>
		</div>
	</div>

	<!-- Seperator -->
	<hr>

	<div class = "row">
		<!-- Print Button -->
		<div class = "col-sm-1 pull-right">
			<button class = "btn btn-default btn-new">
				<span class = "glyphicon glyphicon-print"></span>
				Print
			</button>
		</div>
	</div>
</div>

<!-- Scrollable div for table -->
<div class = "pre-scrollable">
	
</div>